<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Authentication</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mx-auto h1" style="color: #fff"
          >Authentication</span
        >
      </div>
    </nav>
    <div class="card">
      <div class="card-header">Menu</div>
      <div class="card-body">
        <h5 class="card-title">Be Authenticated</h5>
        <p class="card-text">You should be logged in to see the list.</p>
        <a href="/register" class="btn btn-primary">Sign Up</a>
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
    <style>
      .card {
        margin-top: 15px;
        margin-left: 25vw;
        max-width: 50vw;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
